<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Esas voces de la cabeza</h3>
                <h1>Deja de escucharlas.</h1>
                <h5>RMN Sevilla es la solución.</h5>
                <h5>Y la suciedad se va en un bang!.</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/breeze.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
